.search
{
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search input[type="text"]{
    margin-right: 1em;
    padding: 10px 15px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    flex-basis: 60%;
}  
.select-control
{
    display: flex;
    align-items: center;
}
.select-control label 
{
    font-weight: bold;
    margin-right: 0.5em;
}

.select-control select
{
    margin-right: 1em;
    padding: 5px 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
}
