.product-container
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    padding: 3em;
    gap: 1em;
}

.no-results
{
    text-align: center;
    margin-top: 1.5em;
}