*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #003249;
  --secondary: #2D898B;
  --neutral: #fff;
}

h1, a{
  color: var(--primary);
}

h1{
  font-size: 2.1em;
  margin-bottom: 1em;
}


