.message
{
    width: 25%;
    padding: 1em ;
    box-shadow: 0 0 5px 5px#00000018 ;
    position: absolute;
    left: 70%;
    display: flex;
    background-color: #fff;
    align-items: center;
    
}

.message svg{
    font-size: 1.5em;
    margin-right: 2em;
}

.error-icon
{
    color: #b61d18f6;
}

.success-icon{
    color: #1ab40c;
}

.success::before{
    content: "";
    inset: 0px;
    background-color: #1ab40c;
    height: 5px;
    position: absolute;
    top: calc(100% - 5px);
    animation: ease forwards 2s progress;
}





.error::before
{
    /* color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; */
    content: "";
    inset: 0px;
    background-color: #b61d18f6;
    height: 5px;
    position: absolute;
    top: calc(100% - 5px);
    animation: ease forwards 2s progress;
}


@keyframes progress{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}